.loginBoxWraper{
    height: 100vh;
    width: 100%;
    background: #17171a url(../../assets/banner-girl.png) no-repeat center top;
    padding:440px 80px 0px;
    text-align:center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    strong{
        font-size: 32px;
        line-height: 36px;
        display: block;
    }

    .signInGithub{
        background: #ffcd1e;
        margin: top 32px;
        padding:0 40px;
        height: 36px;
        color: #09090a;
        font: size 14px;
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.7s;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;



        svg{
            margin-right: 16px;
        }

        &:hover{
            filter: brightness(0.7);
            box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;        }
            box-shadow: rgba(0,0,0, 0.4) 5px 5px, rgba(0,0,0, 0.3) 10px 10px, rgba(0,0,0, 0.2) 15px 15px, rgba(0,0,0, 0.1) 20px 20px, rgba(0,0,0, 0.05) 25px 25px;
        }
}